* {
    margin: 0;
    padding: 0;
    color: #f1f1f1;
}

body {
    background: #333;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 30px;
}

.roomid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

.roomid-container label,
.username-container label {
    font-size: 24px;
}

#room-id,
#username {
    text-align: center;
    font-size: 20px;
    width: 200px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 8px;
    color: cyan;
    background: #313131;
    box-shadow: 0 0 5px 1px inset #101010;
}

.username-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

#submit {
    position: relative;
    top: 60px;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 8px 30px;
    font-size: 20px;
    background: #111;
}
