@media screen and (max-width: 668px) {
    .chat li {
        flex-direction: column;
    }
}

@media screen and (max-width: 950px) {
    .form-container {
        justify-content: space-evenly !important;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #333;
}

::-webkit-scrollbar {
    display: none;
}

.chat {
    position: relative;
    list-style: none;
    padding-bottom: 75px;
}

.chat li {
    display: flex;
    align-items: flex-start;
    height: auto;
    position: relative;
    padding: 12px;
    font-family: 'Montserrat', monospace;
    background: #2e2e2e;
    gap: 15px;
}

.greeting-message {
    background: rgba(163, 110, 35, 0.5) !important;
}

.chat li:nth-child(odd) {
    background: #313131;
}

.displayed-name {
    background: #1f1f1f;
    border-radius: 5px;
    padding: 4px;
    color: #f1f1f1;
    font-weight: 700;
    letter-spacing: 1px;
}

.displayed-system {
    background: #f1f1f1;
    border-radius: 5px;
    padding: 4px;
    color: cornflowerblue;
    font-weight: 600;
}

.chat li p {
    width: auto;
    max-width: 90%;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    color: #fff;
    letter-spacing: 1px;
}

.footer {
    position: fixed;
    width: 100%;
    height: 75px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #444;
}

.footer-container {
    width: 100%;
    height: 100%;
}

.form {
    width: 100%;
    height: 100%;
}

.form-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82%;
    height: 100%;
}

.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#message {
    width: 100%;
    height: 40px;
    background: #333;
    color: #f3f3f3;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 2px 20px;
    font-size: 20px;
    font-family: 'Montserrat', monospace;
    box-shadow: 0 0 5px 1px #555;
}

.submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
}

.submit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

#send {
    cursor: pointer;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 50px;
    background: #333;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', monospace;
    transition: .15s;
}
