<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>Log in</title>
</head>

<body>
    
    <div class="wrapper">
        <form action="/auth/login" method="post" class="form">
            <h1>Enter to the chat</h1>
            <div class="roomid-container">
                <label for="room-id">Room ID:</label>
                <input type="text" name="roomid" id="room-id" class="form-input" maxlength="16" required />
            </div>

            <div class="username-container">
                <label for="name">Your name:</label>
                <input type="text" name="username" id="name" class="form-input" maxlength="12" required />
            </div>
            <button type="submit" id="submit">Login</button>
        </form>
    </div>

    <script src="/static/js/login.js"></script>
</body>

</html>
